html *
{
    text-align: center;
    background: #61BD6D;
}
.box {
    height: 400px;
    background: #61BD6D;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
}
h1{
  font-size: 3em;
  color:white;
  margin-top: 6rem;
}
.box{
    text-align: center;
    border: 2px solid; rgb(199, 198, 207);
    border-radius: 25px;
}
